{{ define "main" }}
{{ partial "page-hero.html" . }}

<section class="section section--white expertise-solutions">
  <div class="container">
    <p>Surgical Weight Solutions was established in 2000 with the sole purpose of providing a high-quality bariatric service incorporating dietitian and psychological support.
    <p>This was based around the understanding that Obesity is a multifactorial disease and although treatments are continuing to change, there is an ongoing need to provide a wrap-around service to maximize the chances of good patient outcomes. This is why we have a 5-year follow-up plan for our patients and encourage them to take part in our support groups during this period.
    <p>Over the years our Unit was the first to transition from open gastric bypass surgery to laparoscopic approach. The next frontier may be robotic assisted bariatric surgery with the aim being to provide high quality and safer surgery. Mr Suheelan Kulasegaran performed the first successful total robotic esophagectomy and gastrectomy in the Country.
    <p>The rise of powerful weight loss medications has meant that some can avoid surgery or use these medications to help them on their weight loss journey whether at the beginning, middle or end. The nature of ongoing treatment recognises obesity as a chronic disease which generally implies treatment for life of some sort.
    <p>Over the years our unit has led the way with gastric bypass. The addition of silastic rings to reduce weight regain and performing one anastomosis gastric bypass on patients whom we have now published 15 year follow-up data on. This experience has helped us tailor our surgery to the patient and their needs.
    <p>I had the privilege of training many registrars and Fellows virtually all of whom have busy bariatric practices.
    <p>The techniques and perioperative management of our patients will continue to evolve and improve however Our uncompromising and continued drive to maintain the highest standards continues today.
    <p>I know I am leaving Surgical weight loss solutions in excellent hands with Mr Suheelan Kulasegaran and am delighted that he is continuing to focus on quality care for our patients. I wish him all the very best for the future.
  </div>
</section>

{{ end }}
